.footer {
    background: #2F324B;
    padding: 45px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__tel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: var(--color-white, #fff);
    text-align: center;
    font-size: 23.85px;
    font-weight: 400;
}

.footer__call {
    color: var(--color-white, #fff);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--color-white, #fff);
}

.footer__icon {
    display: none;
}

.footer__logo {
    margin-right: 19px;
}

.footer__par {
    color: var(--color-white, #fff);
    font-size: 12px;
    font-weight: 500;
    line-height: 140.625%;
    white-space: pre-line;
}

.footer__name {
    color: var(--color-white, #fff);
    font-size: 12px;
    font-weight: 500;
    line-height: 140.625%;
}

.footer__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .footer__logo {
        width: 60px;
    }

    .footer__text {
        font-size: 21px;
    }
    
    .footer__call {
        font-size: 13px;
    }

}

@media (max-width: 700px) {
    .footer__logo {
        width: 30px;
    }

    .footer__text {
        display: none;
    }
    
    .footer__icon {
        display: block;
    }

    .footer__call {
        display: none;
    }

    .footer__par {
        font-size: 8px;
    }

}

@media (max-width: 425px) {

    .footer {
        padding: 25px 0 72px 0;
    }

    .footer__name {
        order: 1;
    }

    .footer__container {
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-around;
    } 

    .footer__name {
        background: #2A2C3F;
        text-align: center;
        padding: 15px 0;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}